@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

body {
  font-family: 'Quicksand', sans-serif;
}

/* Swiper custom */
.swiper {
  width: 100%;
  height: 300px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff0f5;
}

#loader.hidden {
  opacity: 0;
  pointer-events: none;
}

#loader {
  transition: opacity 0.5s ease;
}

#background-video {
  /* Fullscreen */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  /* Cover the entire area */
  object-fit: cover;

  /* Behind everything */
  z-index: 0;
}

